@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    background-color: burlywood;
}

header {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

section {
    display: grid;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

section  p {
    padding: 20px;
    padding-left: 30px;
}

#kogos {
    padding: 10px 20px;
    margin-left: 30px;
}

#dados p {
    padding-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    
    width: 280px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.336);
}

footer {
    margin-top: 30px;
    text-align: center;
}
